body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

.title {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	text-align: center;
	margin-top: 40px;
}

.searchBox {
	background: #2f3640;
	height: 20px;
	width: 250px;
	border-radius: 40px;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.searchButton:hover {
	color: white;
}

.searchButton {
	color: rgb(194, 194, 194);
	float: right;
	width: 20px;
	height: 20px;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	border:none;
	background: none;
	outline:none;
}

.searchInput {
	border:none;
	background: none;
	outline:none;
	float:left;
	padding: 0 6px;
	font-size: 16px;
	line-height: 20px;
}

.chat-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 450px;
	border-radius:  5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgb(212, 212, 212);
	margin-left: auto;
	margin-right: auto;
}

.chat-table thead tr {
	background-color: rgb(15, 25, 31);
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: bold;
}

.chat-table th,
.chat-table td {
	padding: 12px 15px;
}

.chat-table tbody tr {
	border-bottom: 1px solid rgb(192, 192, 192);
}

.chat-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.chat-table tbody tr:nth-of-type(odd):hover {
	background-color: #f3f3f3;
	transition: 0.2s;
}

.chat-table tbody tr:last-of-type {
	border-bottom: 1px solid rgb(15, 25, 31);
}

.steamid {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 3px;
	border-radius: 3px;
	color: white;
	background: rgb(47, 49, 54);
	transition: 0.3s;
}

.steamid:hover {
	background: rgb(73, 73, 73);
}

.embed {
	position: relative;
	display: inline-grid;
	background-color: #403e3d;
	color: white;
	font-size: 14px;
	padding: 8px 16px 16px;
	height: 6px;
	border-left: 4px solid #faa61a;
	border-radius: 4px;
	border-color: #cc8d23;
	line-height: 14px;
}

.embed:hover {
	background-color: #46423c;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.letter {
	display: flex;
	font-size: 18px;
	padding-bottom: 10px;
}

.letter:hover {
	color: rgb(133, 133, 133);
}

.footer {
	padding-top: 10px;
	text-align: center;
}

.venus {
	transition: 0.3s;
	font-size: 20px;
}

.venus:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(59, 59, 59);
	border-radius: 3px;
}

